* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    background-color: #F5F7FB;
    
}

.first-page {
    display: flex;
    align-items: center; 
    flex-direction: row; 
    text-align: center;
    margin-top: 15%;
    justify-content: space-between;
}

.first-page h1 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    color: #293264;
}

.first-page p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #293264;
}

.first-page button {
    background: #4D5B9E;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F5F7FB;
    border: none;
    width: 193px;
    height: 52px;
    cursor: pointer;
}

.blob1 {
    align-self: flex-start;
}

.blob2 {
    align-self: flex-end;
}